<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="30 seconds">

    <!-- To enable JMX Management -->
    <jmxConfigurator/>

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!-- Explicitly setting the target to System.out (stdout) -->
        <target>System.out</target>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <charset>UTF-8</charset>
            <!-- Updated pattern for color highlighting -->
            <pattern>%date %highlight(%-5level) %logger{0} [%file:%line] %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ru.pogodinegor.weatherapi" level="ERROR">
        <appender-ref ref="console"/>
    </logger>

</configuration>
